<html ng-app="app">

<head>

</head>

<body>
    <div ng-controller="MainController">
        <!-- filter car's brand-->
        <input ng-model="carFilter.str">
        <div ng-repeat="car in cars.arr | filter:carFilter.str">{{car}}</div>

        <!-- filter person's name-->
        <input ng-model="personFilter.name">
        <div ng-repeat="person in persons.arr | filter:personFilter">
            {{person}}
        </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>