<html ng-app="app">

<body>

    <div ng-controller="MainController">
        <div ng-repeat="element in myarr">
            {{ element }}
        </div>
        <br/>
        <div ng-repeat="user in users">
            {{ user.name}}: {{user.age}}
        </div>
        <br/>
        <div ng-repeat-start="user in users">
            {{ user.name}}: {{user.age}}
        </div>
        <hr ng-repeat-end />
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>