<html ng-app="app">

<head>

</head>

<body>
    <div ng-controller="MainController">
        <h3>=Filter car's brand and order by price with limitation.=</h3>
        <input ng-model="carFilter.brand">
        <div ng-repeat="car in cars.arr | filter:carFilter.brand | orderBy: 'price' | limitTo:2">{{car}}</div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>