<html ng-app="app">

<head>

</head>

<body>
    <div ng-controller="MainController">
        <h3>Input length limit 10</h3>
        <input ng-model="inputdata.str"> <br/>{{inputdata.str | charlimit}}
        <br/>
        <h3>Perple who can drink (>= 25)</h3>
        <div ng-repeat="person in persons.arr | candrink:25">
            {{person}}
        </div>
        <br/>
        <h3>Perple who can drink</h3>
        <p>Input age limit:</p>
        <input ng-model="age.str">
        <div ng-repeat="person in persons.arr | candrink:age.str">
            {{person}}
        </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>