<html ng-app="app">

<body>

    <div ng-controller="MainController">
        <div ng-repeat="element in myarr">
            {{ element }}
            <span ng-show="$first">First</span>
            <span ng-show="$middle">Middle</span>
            <span ng-show="$last">Last</span>
            <span ng-show="$even">Even</span>
            <span ng-show="$odd">Odd</span>
        </div>
        <br/>
        <div ng-repeat="attr in ob">
            {{attr}}
        </div>

    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>